/* Theme tokens */
@theme {
    /* Colors */
    --color-sencha-green: #9dcf60;        /* primary actions, nav */
    --color-light-leaf-green: #a5d6a7;    /* secondary buttons */
    --color-tea-steam-green: #f1f8e9;     /* backgrounds, cards */
    --color-wood-bowl-brown: #5d4037;     /* headers, key text */
    --color-linen-white: #efebe9;         /* linen */
    --color-duanni-yellow: #c9a873;       /* threads, outlines */
    --color-zisha-brown: #7b5446;         /* threads, outlines */
    --color-dark-mahogany-brown: #3e241d; /* top nav bar items */   

    /* Spacing */
    --spacing-nav: 5rem; /* equivalent to h-20 (20 * 0.25rem = 5rem)  */
    --height-nav: 5rem; /* equivalent to h-20 (20 * 0.25rem = 5rem) */
    --open-nav-sidebar-width: 292px; /* "w-73" */ 
    --closed-nav-sidebar-width: 56px; /* "w-14" */

    /* Font families. Preloaded in index.html and defined in base.css. */
    --font-body: "Cabin", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Cabin", ui-sans-serif, system-ui, sans-serif;

    /* Text sizes. Tailwind CSS is mobile first. These should be the 
       SMALLEST versions of themselves, and we should scale up from these
       to "sm:" to "md:".  */
    --text-small: 0.875rem;   /* 14px */
    --text-body: 1rem;        /* 16px */
    --text-subheading: 1.125rem; /* 18px */
    --text-heading: 1.25rem;   /* 20px */
    --text-hero: 2rem;     /* 32px */

    /* Line heights */
    --leading-small: 1.25;    /* tighter for UI labels */
    --leading-body: 1.625;    /* relaxed for paragraphs */
    --leading-subheading: 1.375;
    --leading-heading: 1.25;
    --leading-hero: 1.1;

    /* Letter spacing */
    --tracking-small: 0.02em;    /* slightly wide for small text */
    --tracking-body: 0em;        /* normal */
    --tracking-heading: -0.01em; /* tighten headings */
    --tracking-hero: -0.015em;

    /* Navigation text*/
    --text-nav: var(--text-body);
    --leading-nav: 1.5;
    --tracking-nav: var(--tracking-body); 

    --shadow-sidebar-fallback: 6px 0 10px -2px rgba(0,0,0,0.15); /* fallback for older browsers.*/
    --shadow-sidebar: 6px 0 10px -2px color-mix(in srgb, var(--color-sencha-green) 40%, transparent);

    /* Column widths */
    --text-grid-col-1-width: 125px;
    --text-grid-col-fr-width: 1fr;
}

@utility shadow-sidebar-fallback {
    box-shadow: var(--shadow-sidebar-fallback);
}

@utility shadow-sidebar {
    box-shadow: var(--shadow-sidebar);
}
